

picture{
    padding: 0.5em;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px black;

}

div{
    padding: 0.5em;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
    background: rgb(228, 190, 87);
}

button{
    margin: 1em;
    padding: 1em;
    background-color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;

}